{#
/**
 * @file
 * Template for a Node.
 */
#}
{%
  set classes = [
  'node',
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  node.bundle|clean_class,
  node.bundle|clean_class ~ '--' ~ view_mode|clean_class,
  'project'
]
%}
{# {{ kint(content|keys)}} #}
<article{{attributes.addClass(classes)}}>
  {% block content %}
    {# {{ title_prefix }}
    {{ title_suffix }}
    {{ content.field_banner_video}}
    {{ content.field_test_video_}}
    {{ content.field_media_solo}} #}
    {# {{ label }} #}
    {{ content.field_videos}}
    {# {{ kint(content|keys)} #}
    <div class="container container-project mt-5">
      <h2 class="text-center">{{ label }}</h2>
      <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
        <li class="nav-item">
          <a aria-controls="description" aria-selected="true" class="nav-link active" data-toggle="tab" href="#description" id="description-tab" role="tab">Descripción</a>
        </li>
        <li class="nav-item">
          <a aria-controls="photos" aria-selected="false" class="nav-link" data-toggle="tab" href="#photos" id="photos-tab" role="tab">Fotos</a>
        </li>
        <li class="nav-item">
          <a aria-controls="scope" aria-selected="false" class="nav-link" data-toggle="tab" href="#scope" id="scope-tab" role="tab">Alcance</a>
        </li>
        <li class="nav-item">
          <a aria-controls="status" aria-selected="false" class="nav-link" data-toggle="tab" href="#status" id="status-tab" role="tab">Estado</a>
        </li>
        <li class="nav-item">
          <a aria-controls="benefits" aria-selected="false" class="nav-link" data-toggle="tab" href="#benefits" id="benefits-tab" role="tab">Beneficios</a>
        </li>
        <li class="nav-item">
          <a aria-controls="regulatory" aria-selected="false" class="nav-link" data-toggle="tab" href="#regulatory" id="regulatory-tab" role="tab">Marco Normativo</a>
        </li>
      </ul>
    <div class="tab-content" id="myTabContent">
      <div aria-labelledby="description-tab" class="tab-pane fade show active project-content" id="description" role="tabpanel">
        <div class="row">
          <div class="col-md-4 col-12">
            {{ content.field_general_data }}
            {{ content.field_infografia }}
            <div class="element-invisible d-none {{content.field_external_link.0}}" data-visible="{{content.field_external_link.0}}">Abre en una nueva ventana</div>
           {#  {% if content.field_external_link.0 == "TRUE" %}
              <div class="element-invisible" data-visible="{{content.field_external_link.0}}">Abre en una nueva ventana</div>
            {% endif %}
            {% if content.field_external_link.0 == 'TRUE' %}
              <div class="element-invisible">Abre en una nueva ventana</div>
            {% endif %}
            {% if content.field_external_link.0 == TRUE %}
              <div class="element-invisible">Abre en una nueva ventana</div>
            {% endif %} #}
          </div>
          <div class="col-md-8 col-12">
            <div class="{{attributes.class.0}}"></div>
            {{ content.field_location}}
            {{ content.body}}
          </div>

        </div>
      </div>
      <div aria-labelledby="photos-tab" class="tab-pane fade row" id="photos" role="tabpanel">
        <div class="col-12">
            {{ content.field_gallery }}
        </div>
      </div>
      <div aria-labelledby="scope-tab" class="tab-pane fade project-content" id="scope" role="tabpanel">
        <div class="row">
          <div class="col-12">
            {{ content.field_scope_of_project}}
          </div>
         <!-- <div class="col-md-4 col-12">
            {{ content.field_labels}}
          </div> -->
        </div>
      </div>
      <div aria-labelledby="status-tab" class="tab-pane fade project-content row" id="status" role="tabpanel">
        <div class="col-12">
            {{ content.field_status_of_project}}
        </div>
      </div>
      <div aria-labelledby="benefits-tab" class="tab-pane fade project-content" id="benefits" role="tabpanel">
        {{ content.field_benefits_of_project}}
      </div>
      <div aria-labelledby="regulatory-tab" class="tab-pane fade project-content" id="regulatory" role="tabpanel">
        <div class="row">
          <div class="col-md-8 col-12">
            {{ content.field_regulatory_framework}}
          </div>
          <div class="col-md-4 col-12">
            {{ content. field_links_of_interest}}
            <div class="element-invisible d-none {{content.field_externa.0}}" data-visible="{{content.field_externa.0}}">Abre en una nueva ventana</div>
          </div>
        </div>
      </div>
    </div>
    {% if not page %}
      <h2{{title_attributes}}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    {% endif %}

    {% if display_submitted %}
      <footer>
        {{ author_picture }}
        <div{{author_attributes}}>
          {% trans %}Submitted by
          {{ author_name }}
          on
          {{ date }}{% endtrans %}
          {{ metadata }}
        </div>
      </footer>
    {% endif %}
  </div>
  {% endblock %}
</article>
